<nav class="nav_style">

    <div class="nav_logo">
        <i class="fab fa-hubspot"></i>
        <a href="">Toc Gam</a>
    </div>

    <ul class="nav_menu">
        <li><a href="">1번 메뉴</a></li>
        <li><a href="">2번 메뉴</a></li>
        <li><a href="">3번 메뉴</a></li>
    </ul>
    
    <div class="nav_search">
        <i class="fas fa-search"></i>
        <input class="nav_search_input" type="text" placeholder=" Search">
        <input class="nav_search_button" type="submit" value="검색">
    </div>

    <div class="nav_side">
        <a class="btn btn-warning" href="">로그인</a>
        <a class="btn btn-danger" href="">회원가입</a>
    </div>

</nav>